body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #6a3093, #a044ff);
	color: white;
	font-family: Arial,sans-serif;
}

.clock-container {
	height: 120px;
	width: 300px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

#clock{
	font-size: 48px;
}